/* Cor da letra do placeholder */

::-webkit-input-placeholder {
    color: #0A3871;
}

 :-moz-placeholder {
    /* Firefox 18- */
    color: #0A3871;
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    color: #0A3871;
}


/* Remover borda dos inputs quando clicado */

textarea:focus,
input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

body {
    /* margin: 0% -10% 0 10%;*/
    margin-right: -10%;
    position: relative;
    width: 90%;
    height: 100%;
    background: #D8DFE8;
    /* Light blue/light-blue-100 */
}

.logo {
    /* border-color: red;
    padding: 40px 0 0 84px;
    border-width: medium;
    border-style: solid;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

.frame5 {
    /* border-color: red;
    padding: 40px 0 0 84px;
    border-width: medium;
    border-style: solid;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 336px;
    height: 122px;
    left: 1032px;
    top: 619px;
}

.digiteSeuTexto {
    /* border-color: red;
    padding: 40px 0 0 84px;
    border-width: medium;
    border-style: solid;*/
    vertical-align: top;
    /* Fonte */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    /* Cor */
    background: #D8DFE8;
    /* Dimensões */
    /*padding-top: 250px;*/
    padding-top: 150px;
    padding-left: 240px;
    padding-right: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
}

.frame5 {
    position: relative;
    left: 30px;
}

.frame5 .p1 {
    width: 336px;
    height: 58px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */
    text-align: center;
    /* Gray/gray-500 */
    color: #343A40;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.frame5 .p2 {
    width: 336px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    text-align: center;
    /* Gray/gray-400 */
    color: #495057;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.boneco {
    /*position: absolute;*/
    width: 336px;
    height: 304px;
    left: 1032px;
    top: 283px;
    margin-left: auto;
    margin-right: auto;
}

#frame3 {
    /* Bordas */
    /* border-color: red;
    padding: 40px 0 0 84px;
    border-width: medium;
    border-style: solid;*/
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 680px;
    height: 67px;
    /*left: 240px;*/
    left: 150px;
    /*top: 885px;*/
    top: 545px;
}

.botaoCriptografar {
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 19px;
    text-align: center;
}

.botaoDescriptografar {
    width: 328px;
    height: 67px;
    border-radius: 24px;
    color: #0A3871;
    background: #D8DFE8;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 19px;
    text-align: center;
}

.botaoCopiar {
    /* Button */
    box-sizing: border-box;
    /* Auto layout */
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
    width: 336px;
    height: 67px;
    left: 33px;
    /*top: 845px;*/
    top: 500px;
    /* Dark blue/dark-blue-300 */
    border: 1px solid #0A3871;
    color: #0A3871;
    border-radius: 24px;
    text-align: center;
    font-size: 32px;
}

#texto {
    /* margin: 0 0 0 30%;*/
    /* Rectangle 1 */
    position: absolute;
    width: 400px;
    /*height: 944px;*/
    height: 440px;
    /*left: 1000px;*/
    left: 930px;
    top: 40px;
    /* White */
    background: #FFFFFF;
    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.textoTextArea {
    width: 336px;
    height: 781px;
    left: 1032px;
    top: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */
    /* Gray/gray-400 */
    color: #495057;
    /* White */
    background: #FFFFFF;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    padding: 32px 32px 131px 32px;
    text-align: justify;
    resize: none;
    border-radius: 32px;
}

.copyright {
    margin-right: 20%;
    font-size: 18px;
    /*padding: 40px 0 0 84px;*/
    padding: 20px 0 0 84px;
    text-align: center;
    position: relative;
    margin-top: 35%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    color: #0A3871;
}

footer a {
    text-decoration: none;
}